services:
  mongo:
    image: mongo:latest
    container_name: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  auth-service:
    build: ./backend/Services/Auth
    container_name: auth-service
    ports:
      - "5001:5001"
      - "5003:5003"
    env_file:
      - ./backend/Services/Auth/.env
    # We keep the backend volume for live reloading
    volumes:
      - ./backend/Services/Auth:/app
      - /app/node_modules
    depends_on:
      - mongo

  frontend:
    build: ./frontend
    container_name: frontend-app
    ports:
      - "3000:80"
    # We remove the volume mount from the frontend
    # to prevent file-locking issues on Windows
    depends_on:
      - auth-service

volumes:
  mongo-data:
 